<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="footer1 d-flex p-4 border-bottom">
    <div class="d-flex justify-content-beetwen">   
        <div class="me-9 d-none d-lg-block">
            <img src="../../../assets/img/icono_appstore.png" height="30" alt="" />
          </div>
          <div class="me-9 d-none d-lg-block">
            <img src="../../../assets/img/googleplay.png" height="30" alt="" />
          </div>
          <div class="me-9 d-none d-lg-block">
            <img src="../../../assets/img/appgallery.png" height="30" alt="" />
          </div>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <img src="../../../assets/img/logo_footer.png" height="200" alt="" />
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">ACERCA DE LAIKA</h6>
          <p>
            <a href="#!" class="text-reset">Sobre Laika</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Servicios</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Trabaja con nosotros</a>
          </p>
          <p>
            <a href="#!" class="text-reset">blog</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Terminos y condiciones</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">LINKS DE INTERÉS</h6>
          <p>
            <a href="#!" class="text-reset">Preguntas frecuentes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">como comprar en laika?</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Política de privacidad</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Contáctenos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Políticas de entrega</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">INFORMACIÓN</h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            servicioclientes@laika.com.co
          </p>
          <p><i class="fas fa-phone me-3"></i>3009108496</p>
          <div class="text-dark">
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    <a class="text-reset fw-bold" href="https://laika.com.co/"
      >https://www.sic.gov.co / Proyecto E S.A.S. / NIT: 901.110.407 -4 /
      Dirección de notificación judicial: Cra 68G No. 74B - 56, Bogotá DC
      Teléfono: 300 9108496 / Correo electrónico para notificación judicial:
      contabilidad@laika.com.co Copyright © 2021 LAIKA - Derechos reservados</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
