<nav class="navbar navbar-light text-white bg-dark row">
  <div class="col-8">
    <div class="row">
      <span class="col-4 head"
        ><i class="fas fa-shield-alt"></i>Compras seguras online
      </span>
      <span class="col-4"
        ><i class="fas fa-hand-holding-usd"></i> Pago contra entrega
      </span>
      <span class="col-4"
        ><i class="fas fa-truck"></i> Entrega el mismo dia
      </span>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <span class="col-6"
        >Llámanos <i class="fas fa-phone-square"></i>3009108496
      </span>
      <span class="col-6 tail"
        ><i class="fas fa-shield-alt"></i>Escríbenos <i class="fab fa-youtube"></i> <i class="fab fa-instagram"></i> <i class="fab fa-facebook"></i>
      </span>
    </div>
  </div>
</nav>
