<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          Compra para perro
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/alimento_icono.png"
                height="15"
                alt=""
              />Alimento</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/snacks.iconopng.png"
                height="15"
                alt=""
              />Snacks</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/farmacia_icono.png"
                height="15"
                alt=""
              />Farmapet</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/higiene_icono.png"
                height="15"
                alt=""
              />Cuidado e Higiene</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/juguetes_icono.png"
                height="15"
                alt=""
              />Juguetes</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/accesorios_icono.png"
                height="15"
                alt=""
              />Accesorios</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/petlovers_icono.png"
                height="15"
                alt=""
              />Para PetLovers</a
            >
          </li>
        </ul>
      </li>
      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          Compra para gato
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/alimento_icono.png"
                height="15"
                alt=""
              />Alimento</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/snacks.iconopng.png"
                height="15"
                alt=""
              />Snacks</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/farmacia_icono.png"
                height="15"
                alt=""
              />Farmapet</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/higiene_icono.png"
                height="15"
                alt=""
              />Cuidado e Higiene</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/juguetes_icono.png"
                height="15"
                alt=""
              />Juguetes</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/accesorios_icono.png"
                height="15"
                alt=""
              />Accesorios</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><img
                src="../../../assets/img/petlovers_icono.png"
                height="15"
                alt=""
              />Para PetLovers</a
            >
          </li>
        </ul>
      </li>
      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          Ofertas
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li><a class="dropdown-item" href="#">Marca Dog chow</a></li>
          <li><a class="dropdown-item" href="#">Marca Agility Gold</a></li>
          <li><a class="dropdown-item" href="#">Accesorios para gatos</a></li>
        </ul>
      </li>
      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          Servicios
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Veterinario en casa</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Baño Express</a>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" aria-current="page" href="#">Blog</a>
      </li>
    </ul>
    <div>
      <img
        src="../../../assets/img/vetcare_logo2.png"
        height="30"
        alt=""
      /><img
        src="../../../assets/img/membership_logo.png"
        height="30"
        alt=""
      />
    </div>
  </div>
</nav>
