.btn {
    background-color:#603e85;
}
.precio {
    display: block;
}

.precio.laika {
    padding-block: 12px;
}

.adquirela-ya {
    padding: 3px;
    font-size: 10px;
    width: 100%;
}
.card-title {
    font-weight: bold;
    font-size: 16px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    height: 40px;
}