<div class="card" style="width: 15rem">
  <img
    [src]="url"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title ">{{nombreProducto}}</h5>
    <div class="row">
        <div class="col-12 text-warning text-center">
        <span *ngFor="let star of getStars()"><i class="fas fa-star"></i></span>
        </div>
          
    </div>
    <div class="row">
      <span class="precio">${{precioNormal}}</span>
    </div>

    <div class="row">
      <div class="col-6">
        <span class="precio laika">${{precioMember}}</span>
      </div>
      <div class="col-6">
        <img
          src="../../../assets/img/laikamemeber_producto.svg"
          height="10"
          class="card-img-top"
          alt="..."
        />
        <a href="#" class="btn text-white adquirela-ya">Adquierela ya</a>
      </div>
    </div>
    <p class="card-text"></p>
    <a href="#" class="btn text-white w-100 text-center">
      <i class="fas fa-shopping-cart"></i> Agregar al carrito
    </a>
  </div>
</div>
