<div class="card" style="width: 18rem">
  <img
    src="../assets/img/Hills_canine_treatChicken.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Hills Canine Treats Chicken</h5>
    <div class="row">
        <div class="col-12 text-warning text-center">
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span> 
        </div>
          
    </div>
    <div class="row">
      <span class="precio">$19.600</span>
    </div>

    <div class="row">
      <div class="col-6">
        <span class="precio laika">$16.660</span>
      </div>
      <div class="col-6">
        <img
          src="../../../assets/img/laikamemeber_producto.svg"
          height="10"
          class="card-img-top"
          alt="..."
        />
        <a href="#" class="btn text-white adquirela-ya">Adquierela ya</a>
      </div>
    </div>
    <p class="card-text"></p>
    <a href="#" class="btn text-white w-100 text-center">
      <i class="fas fa-shopping-cart"></i> Agregar al carrito
    </a>
  </div>
</div>
