nav {
    font-size: 14px;
}
.bg-purple {
    background-color: #603e85;
}
button, .dropdown {
    border: none !important;
    padding: 3px
}
button {
    img {
        margin-inline-end: 10px;
    }
}
.fa-shopping-cart {
    padding: 15px;
}