<nav class="navbar bg-purple">
  <div class="row w-100 align-items-center">
    <div class="col-8">
        <div class="row container-fluid">
            <div class="col-2 align-items-center">
                <a class="navbar-brand" href="#">
                  <img src="../../../assets/img/Logo.svg" height="40" alt="" />
                </a>
            </div>
            <div class="col-10">
                <form class="input-group">
                  <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search-addon"
                  />
                  <span class="input-group-text text-white border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                  </span>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row container-fluid align-items-center">
            <div class="col-6">
                <div class="input-group">
                  <button type="button" class="btn btn-outline-primary text-white">
                    <img
                      src="../../../assets/img/badera_colombia.png"
                      height="15"
                      alt=""
                    />BOG
                  </button>
                  <div mdbDropdown class="dropdown">
                    <button
                      mdbDropdownToggle
                      type="button"
                      class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
                      aria-expanded="false"
                    >
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Pereira</a></li>
                      <li><a class="dropdown-item" href="#">Cali</a></li>
                      <li><a class="dropdown-item" href="#">Barranquilla</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-6">
                <div class="text-white">
                  <i class="far fa-user-circle"></i> Mi cuenta
                  <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
    </div>
  </div>
</nav>
